<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>

<% if @current_user ==nil %>

<% else %>
    <form action="/insert_photo" method="post">
      
 
        <label for="browser_input">Image</label>
  <input id="browser_input" type="file" name="query_image" placeholder="Enter a URL for the image...">

  <label for="browser_caption">Caption</label>
  <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo..."></textarea>


        <label for="comments_count_box">
       
        </label>

        <input type="hidden" id="comments_count_box" name="query_comments_count">
    
        <label for="likes_count_box">
      
        </label>

        <input type="hidden" id="likes_count_box" name="query_likes_count">

        <label for="owner_id_box">
        
        </label>

        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%=@current_user.id%>" >
      <button>
        Add photo
      </button>
      </form>
<% end %>

<hr>
<div>
  <div>
    <table border ="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
          
        </th>

      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <img src="<%=a_photo.image%>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.poster_username %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
