<div>
  <div>
    <h1>
      Photo details
    </h1>

   <h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
  <dd>
    <img src="<%=@the_photo.image%>">
  </dd>

  <dt>Caption</dt>
  <dd>
    <%=@the_photo.caption%>
  </dd>

  <dt>Owner</dt>
  <dd>
    <%=@the_photo.poster_username%>
  </dd>

  <dt>Posted</dt>
  <dd>
    <%= time_ago_in_words(@the_photo.created_at) %> ago
  </dd>

  <dt>Likes count</dt>
  <dd><%=@the_photo.likes_count%></dd>

  <dt>Comments count</dt>
  <dd><%=@the_photo.comments_count%></dd>

  <dt>Fans</dt>
  <dd>
    <%=@the_photo.fans%>
  </dd>

  <dt>Add a fan</dt>
  <dd>

    <a href="/delete_like/4227">
      Unlike
    </a>

    <form action="/insert_like" method="post">
      <input type="hidden" value="<%=@the_photo.id%>" name="query_photo_id">
      <input type="hidden" value="<%=@current_user.id%>" name="query_fan_id">
      <button>Like</button>
    </form>
  </dd>
  <% if @current_user==@the_photo.poster %>
    
    <dd>
      <form action="/modify_photo/<%=@the_photo.id%>" method="post" enctype="multipart/form-data">
        <label for="browser_image">Image URL</label>
        <input id="browser_image" type="file" name="query_image" placeholder="Enter a URL for the image...">
      
        <label for="browser_caption">Caption</label>
        <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo..."></textarea>
      
        <button>Update photo</button>
      </form>
    </dd>

    <dt>Delete photo</dt>
    <dd>
      <a href="/delete_photo/<%=@the_photo.id%>">
        Delete this photo
      </a>
    </dd>
  <% else %>
  <%end%>
</dl>

<h2>Comments</h2>

<table border="1">
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @list_of_comments.each do |a_comment| %>
    <tr>
      <td>
        <%= a_comment.commenter_username %>
      </td>
      <td>
        <%= a_comment.body %>
      </td>  
      <td>
      over <%= time_ago_in_words(a_comment.created_at) %> ago
      </td>
    </tr>
  <%end%>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="<%=@the_photo.id%>" name="query_photo_id">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
